ESS Web Services/Web References/ServiceReferencePaging/pagingservice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendPagerMessage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PList" type="tns:ArrayOfPagerList" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfPagerList">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="PagerList" nillable="true" type="tns:PagerList" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PagerList">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="PagerMessage" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PagerNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PagerType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Reference" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SendPagerMessageResponse">
        <s:complexType />
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="SendPagerMessageSoapIn">
    <wsdl:part name="parameters" element="tns:SendPagerMessage" />
  </wsdl:message>
  <wsdl:message name="SendPagerMessageSoapOut">
    <wsdl:part name="parameters" element="tns:SendPagerMessageResponse" />
  </wsdl:message>
  <wsdl:message name="HelloWorldHttpGetIn" />
  <wsdl:message name="HelloWorldHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="HelloWorldHttpPostIn" />
  <wsdl:message name="HelloWorldHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="PagingServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendPagerMessage">
      <wsdl:input message="tns:SendPagerMessageSoapIn" />
      <wsdl:output message="tns:SendPagerMessageSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="PagingServiceHttpGet">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldHttpGetIn" />
      <wsdl:output message="tns:HelloWorldHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="PagingServiceHttpPost">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldHttpPostIn" />
      <wsdl:output message="tns:HelloWorldHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PagingServiceSoap" type="tns:PagingServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendPagerMessage">
      <soap:operation soapAction="http://tempuri.org/SendPagerMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PagingServiceSoap12" type="tns:PagingServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendPagerMessage">
      <soap12:operation soapAction="http://tempuri.org/SendPagerMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PagingServiceHttpGet" type="tns:PagingServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="HelloWorld">
      <http:operation location="/HelloWorld" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PagingServiceHttpPost" type="tns:PagingServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="HelloWorld">
      <http:operation location="/HelloWorld" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PagingService">
    <wsdl:port name="PagingServiceSoap" binding="tns:PagingServiceSoap">
      <soap:address location="http://localhost/esswebservices/pagingservice.asmx" />
    </wsdl:port>
    <wsdl:port name="PagingServiceSoap12" binding="tns:PagingServiceSoap12">
      <soap12:address location="http://localhost/esswebservices/pagingservice.asmx" />
    </wsdl:port>
    <wsdl:port name="PagingServiceHttpGet" binding="tns:PagingServiceHttpGet">
      <http:address location="http://localhost/esswebservices/pagingservice.asmx" />
    </wsdl:port>
    <wsdl:port name="PagingServiceHttpPost" binding="tns:PagingServiceHttpPost">
      <http:address location="http://localhost/esswebservices/pagingservice.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>